@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0a0d14] text-slate-100 min-h-screen overflow-x-hidden antialiased;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
  }
}

